@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&display=swap');
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik Spray Paint", system-ui;
    overflow-x: hidden;
    background-color: #F3B3C1;
}
.first_section{
    height: 720px;
    background-color: #96AC7D;
}
.second_section{
    height: 520px;
    background-color: #F3B3C1;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;

}
.sec{
    height: 15px;
}
.nav{
    display: flex;
    height: 100px;
    justify-content: space-between;
    padding: 0 20px;
}
.main_nav{
    border-radius: 25px;
    background-color: #F3B3C1;
    width: 680px;
    height: 100px;
    display: flex;
    justify-content: center;
    p{
        font-size: 100px;
        color: #96AC7D;
    }
}
.widgets{
    display: flex;
    justify-content: stretch;   
    flex-direction: row;
}
.small_widgets{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.first_widget{
    height: 253px;
    width: 519px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.second_widget{
    height: 253px;
    width: 427px;
    background-image: url("assets/sakhalin.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 12px;
}
.third_widget{
    height: 604px;
    width: 494px;    
}
.fourth_widget{
    height: 351px;
    width: 519px;  
    display: flex;
    align-items: center;
    justify-content: center;
}
.fifth_widget{
    height: 351px;
    width: 427px;    
    display: flex;
    justify-content: center;
    align-items: center;
}
.sims{
    height: 282px;
    width: 495px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url('../Sofia/assets/dowland.png');
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;       
    width: 191px;
    border-radius: 9px;
    background-color: #D9D9D9;
    cursor: pointer;
    p{
        font-size: 20px;
        color: #4e4f4e;
    }
}
.music{
    display: flex;
    align-items: center;
    width: 1440px;
    height: 197px;
    justify-content: center;
    h1{
        font-size: 120px;
        color: #96AC7D;
        align-self: end;
        font-weight: 300;
    }
}
.camera{
    cursor: pointer;     
}
.cats{
    cursor: pointer;
}
.carousel {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 450px;
    height: 450px;
    border-radius: 40px;
    position: absolute;
    transition:
            transform .8s ease-in,
            opacity .3s ease-in;

    &:nth-child(1) {
        background-image: url("assets/monetochka.png");
        background-size: cover;
        background-position: center;
        cursor: pointer;
    }
    &:nth-child(2) {
        background-image: url("assets/yunglean.jpg");
        background-size: cover;
        background-position: center;
        cursor: pointer;
    }
    &:nth-child(3) {
        background-image: url("assets/savage21.jpg");
        background-size: cover;
        cursor: pointer;
        background-position: center;
    }
    &:nth-child(4) {
        background-image: url("assets/noizemc.jpg");
        background-size: cover;
        cursor: pointer;
        background-position: center;
    }
    &:nth-child(5) {
        background-image: url("assets/huggy.png");
        background-size: cover;
        cursor: pointer;
        background-position: center;
    }
}
.list {
    display: flex;
    list-style: none;
    position: relative;
    width: 100%;
    height: 300px;
    justify-content: center;
    perspective: 300px;
}

[data-pos="0"] {
    z-index: 5;
}

[data-pos="-1"],[data-pos="1"] {
    filter: blur(1px) grayscale(10%);
}

[data-pos="-1"] {
    transform: translateX(-100%) scale(.9);
    z-index: 4;
}

[data-pos="1"] {
    transform: translateX(100%) scale(.9);
    z-index: 4;
}

[data-pos="-2"], [data-pos="2"] {
    filter: blur(3px) grayscale(20%);
}

[data-pos="-2"] {
    transform: translateX(-195%) scale(.8);
    z-index: 3;
}

[data-pos="2"] {
    transform: translateX(195%) scale(.8);
    z-index: 3;
}
